@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">CLÍNICA MULTI AFETOS</h1>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Agenda"><h3 class="display-4">Agenda</h3></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Pacientes"><h3 class="display-4">Pacientes</h3></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Documentos"><h3 class="display-4">Documentos</h3></a>        
    
</div>
