@{
    ViewData["Title"] = "Início";
}

    <partial name="_Carousel" />
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Agenda"><h5 class="display-4">Agenda</h5></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Pacientes"><h5 class="display-4">Pacientes</h5></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Documentos"><h5 class="display-4">Documentos</h5></a>        

